SNAT/Produccion/Minvu.Snat.Helper/Connected Services/PssimRoles/Sistema.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Roles_Usuario_Sistema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:Entrada" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Entrada">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id_Sistema" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Ussist" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="Roles_Usuario_SistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Roles_Usuario_SistemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Roles_Usuario_SistemaSoapIn">
    <wsdl:part name="parameters" element="tns:Roles_Usuario_Sistema" />
  </wsdl:message>
  <wsdl:message name="Roles_Usuario_SistemaSoapOut">
    <wsdl:part name="parameters" element="tns:Roles_Usuario_SistemaResponse" />
  </wsdl:message>
  <wsdl:portType name="SistemaSoap">
    <wsdl:operation name="Roles_Usuario_Sistema">
      <wsdl:input message="tns:Roles_Usuario_SistemaSoapIn" />
      <wsdl:output message="tns:Roles_Usuario_SistemaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SistemaSoap" type="tns:SistemaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Roles_Usuario_Sistema">
      <soap:operation soapAction="http://tempuri.org/Roles_Usuario_Sistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SistemaSoap12" type="tns:SistemaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Roles_Usuario_Sistema">
      <soap12:operation soapAction="http://tempuri.org/Roles_Usuario_Sistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sistema">
    <wsdl:port name="SistemaSoap" binding="tns:SistemaSoap">
      <soap:address location="http://wsminvuni.desarrollo.minvu.cl/WSICEPssim/Sistema.asmx" />
    </wsdl:port>
    <wsdl:port name="SistemaSoap12" binding="tns:SistemaSoap12">
      <soap12:address location="http://wsminvuni.desarrollo.minvu.cl/WSICEPssim/Sistema.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>